<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>通话记录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/require.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/setRem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common/constant.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common/native_interface.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/base.css" />
		<link rel="stylesheet" type="text/css" href="../css/call_records.css"/>
	</head>
	<body>
		<div id="callRec">
			<!-- headerBox -->
			<div class="headerBox">
				<img @click="goHome" src="../img/personal_center/returnBlackIcon.png" alt="">
				<p>通话记录</p>
			</div>
			<!-- 分类导航盒子 -->
			<div class="navBox">
				<div class="wqBox">
					<span :class="{active : ind == index}"
						  @click="categoryStyle(index)"
					v-for="(item, index) in navList" :key="index">{{item.name}}</span>
				</div>
			</div>
			<!-- 数据列表盒子 -->
			<div class="listBox">
				<div class="listItem" v-for="(rec, index) in listData" :key="index">
					<div class="imgBox">
						<img :src="userImg" alt="">
					</div>
					<div class="testBox">
						<img class="imgIcon" :src="defaultImg" alt="">
						<span class="addressName">{{rec.deviceName}}</span>
						<p class="timeName">{{rec.createTime}}</p>
					</div>
					<span class="statusName" :style="{'item.status' : '1' ? 'color:#0066ff' : 'color:#ff3333'}">{{rec.status}}</span>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var records = new Vue({
				el: "#callRec",
				data:{
					ind: 0,
          page: 1,
          number: 10,
          userImg:'',
					defaultImg: '../img/call_records/letIcon1.png',
					navList: [
						{
							name:'所有通话'
						},
						{
							name:'未接通话'
						}
					],
          newData:[],
					listData: []
				},
				methods:{
					// 切换样式
					categoryStyle(index) {
            let acsUserInfo = JSON.parse(sessionStorage.getItem('acsUserInfo'));
						this.ind = index;
						if(index === 0){
              this.getCallRecards(this.page,this.number,index);
						  this.defaultImg = '../img/call_records/letIcon1.png';
						  this.userImg = 'data:image/jpeg;base64,'+acsUserInfo.userFaceInfo;
            }else if(index === 1){
              this.getCallRecards(this.page,this.number,index);
              this.defaultImg = '../img/call_records/letIcon2.png';
              this.userImg = '';
            }
					},
					// 返回主页面
					goHome() {
						window.location.href = 'home.html';
					},
					// 获取分页通话记录
					getCallRecards(page,limit,listenType ){
						let that = this;
						let htoken = getStorage("token");
						$.ajax({
							url: getServerUrl()+'/app/userinfo/getTable',
							type: 'POST',
							headers: {
								token: htoken
							},
							data: {page: page,
								limit: limit,
								recordType: '2',
								listenType: listenType },
							dataType: 'json',
							success:function(res){
								if (res.resultCode === '1'){
									that.listData = res.resultContent.data;
                  console.log(that.listData);
                }else {
									// alert( res.resultDesc );
                  console.log(res.resultDesc);
                }
							},
						});
					},

				},
				created(){
					// 初始化通话记录
          this.listData = this.getCallRecards(this.page,this.number,0);
          let acsUserInfo = JSON.parse(sessionStorage.getItem('acsUserInfo'));
          this.userImg = 'data:image/jpeg;base64,'+acsUserInfo.userFaceInfo;
				}
			});
		</script>
    <script>
      //滚动条到页面底部加载更多案例
      $(window).scroll(function(){
        let scrollTop = $(this).scrollTop();    //滚动条距离顶部的高度
        let scrollHeight = $(document).height();   //当前页面的总高度
        let clientHeight = $(this).height();    //当前可视的页面高度
        if(scrollTop + clientHeight >= scrollHeight){   //距离顶部+当前高度 >=文档总高度 即代表滑动到底部
          //滚动条到达底部
          console.log("---------------------滚动条到达底部---------------------------");
          records.page ++;
          records.number = records.number + 10;
          // 在原有的数据上添加下一页的数据
          records.listData = records.listData + records.getCallRecards(records.page,records.number,0);

        }else if(scrollTop<=0){
          //滚动条到达顶部
          // console.log("滚动条到达顶部")
        }
      });
    </script>
	</body>
</html>
