<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/require.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/setRem.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/jquery-1.8.3.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common/constant.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common/native_interface.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/home.css"/>
	</head>
	<body>
		<div id="home">
			<!-- titleBox -->
			<div class="titleBox">
				<!-- 定位地址 -->
				<div class="addressBox">
					<img src="../img/home/addressIcon.png" alt="">
					<span>梦想花园小区</span>
				</div>
				<!-- 搜索盒子 -->
				<div class="searchBox">
					<i></i>
					<input type="text" placeholder="请输入搜索信息">
				</div>
				<!-- 温度表 -->
				<div class="temperatureBox">
          <div class="oneBox">
            <span style="font-size: 0.76rem;text-align: center;">{{weatherInfo.temp}}</span>
            <span></span>
            <span>{{weatherInfo.condition}}</span>
          </div>
          <div class="twoBox">
            <span>2.5 PM</span>
            <span>{{weatherInfo.pm}}  {{weatherInfo.pmValue}}</span>
          </div>
          <div class="threeBox">
            <span>沙坪坝  西园北街</span>
            <span>{{weatherInfo.date}}</span>
          </div>
				</div>
			</div>
			<!-- 新闻盒子 -->
			<div class="newsBox">
				<img src="../img/home/newsIcon.png" alt="">
				<span>据气象部门预测，10月12日至15日，我市将迎来....</span>
			</div>
			<!-- titleBox -->
			<div class="classifyBox">
				<p>手机开门</p>
			</div>
			<!-- 手机开门盒子 -->
			<div class="phone_to_open">
				<div class="itemOpen" v-for="(open, index) in phoneOpenData" :key="'open'+index" @click="phoneOpen(open)">
					<div class="itemLeftBox">
						<img src="../img/personal_center/openIcon.png" alt="">
						<span class="itemOpenAddress">{{open.deviceName}}</span>
					</div>
					<span class="itemOpenName">开门</span>
				</div>
			</div>
			<!-- titleBox -->
			<div class="classifyBox">
				<p>常用应用</p>
			</div>
			<!-- 菜单List盒子 -->
			<div class="navBox">
				<div class="listItemBox" v-for="item in navData" @click="goto(item.path)">
					<img :src="item.imgUrl" alt="">
					<span>{{item.name}}</span>
				</div>
			</div>
		</div>
	</body>
	<!-- Vue绑定数据 -->
	<script type="text/javascript">
		let home = new Vue({
			el: "#home",
			data:{
				msg: 'hello joker',
        //天气信息
        weatherInfo:{
          temp:27,
          condition:'晴',
          pm:'65',
          pmValue:'良',
          date:'05月21号'
        },
				// 手机开门数据包
				phoneOpenData: [
					// {
					// 	address: '小区入口1',
					// 	openName: '开门'
					// },
				],
				// 常用应用数据包
				navData: [
					// {
					// 	path: 'face_verification.html',
					// 	imgUrl: '../img/home/faceIcon.png',
					// 	name: '人脸认证'
					// },
				]
			},
			methods:{
				//  手机开门
				phoneOpen (data) {
					let htoken = getStorage("token");
					$.ajax({
						url: getServerUrl()+'accessDevice/openDoor',
						type: 'get',
						headers: {
							token: htoken
						},
						data: {mac:data.deviceId },
						dataType: 'json',
						success:function(res){
							console.log(res)
						},
					});
				},
				// 跳转页面
				goto (value) {
					console.log(value);
					window.location.href = value
				},
				// 获取手机开门数据包方法
				getPhoneOpenData() {
					let that = this
					// 设置调用接口参数
					// let userInfo = getUserInfo();
					// alert("userinfo--"+userInfo);
					// 调用接口
					let htoken = getStorage("token");
					$.ajax({
						url: getServerUrl()+"app/userinfo/selAcsUserInfo",
						data: {userPhone: '13308085745'},
						headers: {
								token: htoken
							},
						// 18922233388  13308085745
						// data: {userPhone: userInfo.userCellphoneNo},
						dataType: 'json',
						type: 'post',
						async:false,
						success: function(data){
							if(data.resultCode === '1'){
								if(data.resultContent.length>0 ){
									console.log(data.resultContent[0]);
									let jsonS = JSON.stringify(data.resultContent[0]);
									console.log(jsonS);
									sessionStorage.setItem('acsUserInfo', jsonS);
									that.phoneOpenData = data.resultContent[0].deviceList;
									that.getNavData();
								}else{
									alert('未找到您的门禁信息,请联系管理人员添加');
								}
								console.log(data.resultContent);
							}else{
								alert(data.resultDesc);
							}
						},
						error : function(){
							alert('获取用户门禁信息失败');
						}
					});
					// 设置数据
				},
				// 常用应用数据包方法
				getNavData() {
					let that = this
					that.navData = [
						{
							path: 'face_verification.html',
							imgUrl: '../img/home/faceIcon.png',
							name: '人脸认证'
						},
						{
							path: 'call_property.html',
							imgUrl:'../img/home/fjywIcon.png',
							name: '呼叫物业'
						},
						{
							path: 'call_records.html',
							imgUrl: '../img/home/djjlIcon.png',
							name: '通话记录'
						},
						{
							path: 'visitors_are_invited.html',
							imgUrl: '../img/home/fkyqIcon.png',
							name: '访客邀请'
						},
						{
							path: 'personal_center.html',
							imgUrl: '../img/home/myIcon.png',
							name: '个人中心'
						}
					];
				},
			},
			created(){
				// 获取手机开门数据包
				this.getPhoneOpenData()
			}
		});
	</script>
  <!-- 根据IP获取实时天气数据 -->
  <script type="text/javascript">
    $(function() {
      window.onload = function() {
        dynamicIp();
      };
      function dynamicIp(){
        $.ajax({
          // JsonBird 根据查询ip地址
          url: 'https://bird.ioliu.cn/ip',
          type: 'get',
          dataType: 'jsonp',
          success:function(data){
            console.log(data);
            let cityip = data.data.ip;
            getWeather(cityip);
          }
        })
      }

      function getWeather(cityip) {
        $.ajax({
          // 百度首页的天气接口地址
          url: 'https://www.baidu.com/home/other/data/weatherInfo?ip='+cityip,
          type: 'get',
          dataType: 'jsonp',
          success:function(data){
            console.log(data);
            var info = data.data.weather.content.today;
            var temp = info.temp.toString();
            console.log(temp);
            var str = temp.substring(0, temp.length - 1);
            home.weatherInfo.temp = str;
            var pm = info.pm25;
            if(pm > 0 && pm < 50){
              console.log("优");
              home.weatherInfo.pmValue = "优";
            }else if(pm > 51 && pm < 100) {
              console.log("良");
              home.weatherInfo.pmValue = "良";
            }else if(pm > 101 && pm < 150) {
              console.log("轻度");
              home.weatherInfo.pmValue = "轻度";
            }else if(pm > 150 && pm < 200) {
              console.log("中度");
              home.weatherInfo.pmValue = "中度";
            }else if(pm > 201 && pm < 300) {
              console.log("重度");
              home.weatherInfo.pmValue = "重度";
            }else if(pm > 300) {
              console.log("严重");
              home.weatherInfo.pmValue = "严重";
            }
            home.weatherInfo.pm = pm;
            home.weatherInfo.date = info.date;
            home.weatherInfo.condition = info.condition;
            // 根据IP获取地址  但是只能获取到一级城市的地址
            let ipCity = data.data.weather.content.ipcity;
          }
        })
      }
    })
  </script>
</html>
