<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心页面</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/require.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/setRem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="../css/base.css"/>
		<link rel="stylesheet" type="text/css" href="../css/personal_center.css"/>
	</head>
	<body>
		<div id="personalCenter">
			<!-- bannerBox -->
			<div class="bannerBox">
				<p>
					<img @click="goto(1)" src="../img/personal_center/returnIcon.png" alt="">
					<span>个人中心</span>
				</p>
			</div>
			<!-- mainBox -->
			<div class="mainBox">
				<div class="oenBox">
					<!-- 编辑按钮 -->
					<img @click="goto(2)" class="editIcon" src="../img/personal_center/editIcon.png" alt="">
					<!-- 头像 -->
					<img class="userIcon" src="../img/personal_center/userIcon.png" alt="">
					<span class="userName">{{userName}}</span>
				</div>
				<!-- 基本信息 -->
				<div class="userInfoBox">
					<div class="userListBox">
						<span class="leftBox">
							<img src="../img/personal_center/accountIcon.png" alt="">
							<span>账号身份</span>
						</span>
						<span class="textName">业主</span>
					</div>
					<div class="userListBox">
						<span class="leftBox">
							<img src="../img/personal_center/buildingIcon.png" alt="">
							<span>楼栋房间</span>
						</span>
						<span class="textName">1栋2单元 0501</span>
					</div>
					<div class="userListBox">
						<span class="leftBox">
							<img src="../img/personal_center/addressIcon.png" alt="">
							<span>位置定位</span>
						</span>
						<span class="textName">星宇城一期</span>
					</div>
					<div class="userListBox"  @click="goto(7)">
						<span class="leftBox">
							<img src="../img/personal_center/telIcon.png" alt="">
							<span>手机号</span>
						</span>
						<span class="rightBox">
							<span class="textName">132****2356</span>
							<img src="../img/personal_center/nextIcon.png" alt="">
						</span>
					</div>
					<div class="userListBox" @click="goto(10)">
						<span class="leftBox">
							<img src="../img/personal_center/keyIcon.png" alt="">
							<span>登录密码</span>
						</span>
						<span class="rightBox">
							<span class="textName">修改密码</span>
							<img src="../img/personal_center/nextIcon.png" alt="">
						</span>
					</div>
					<div class="userListBox">
						<span class="leftBox">
							<img src="../img/personal_center/outIcon.png" alt="">
							<span>退出</span>
						</span>
					</div>
				</div>
			</div>
			<!-- 弹框 -->
			<div class="template" v-show="isShow">
				<!-- 个人信息弹框 -->
				<div class="userInfoEdit">
					<div class="headerBox">
						<img @click="goto(3)" src="../img/personal_center/returnBlackIcon.png" alt="">
						<span>个人信息</span>
					</div>
					<div class="minBox">
						<p>
							<span class="leftName">头像</span>
							<span class="rightMinBox">
								<img src="../img/personal_center/userIcon.png" alt="">
								<img src="../img/personal_center/nextIcon.png" alt="">
							</span>
						</p>
						<p style="padding: 0.3rem;" @click="goto(4)">
							<span class="leftName">昵称</span>
							<span class="rightMinBox">
								<span>{{userName}}</span>
								<img src="../img/personal_center/nextIcon.png" alt="">
							</span>
						</p>
					</div>
					<!-- 修改用户名弹框 -->
					<div class="userNameEdit" v-show="isShow1">
						<div class="headerBox">
							<img @click="goto(5)" src="../img/personal_center/returnBlackIcon.png" alt="">
							<span>更改昵称</span>
							<span style="margin-left: 4.3rem;" @click="goto(6)">保存</span>
						</div>
						<div class="nameEdit">
							<input type="text" :value="editName">
							<img src="../img/personal_center/nextIcon.png" alt="">
						</div>
					</div>
				</div>
				<!-- 修改手机号 -->
				<div class="telEdit" v-show="isShow2">
					<div class="headerBox">
						<img @click="goto(8)" src="../img/personal_center/returnBlackIcon.png" alt="">
						<span>修改手机号</span>
					</div>
					<div class="contBox">
						<p>
							<span>国家和地区</span>
							<span style="display: flex;align-items: center;">
								<span>中国大陆</span>
								<img style="width: 0.17rem;height: 0.3rem;margin-left: 0.1rem;" src="../img/personal_center/nextIcon.png" alt="">
							</span>
						</p>
						<p>
							<span>+86</span>
							<input type="" name="" id="" v-model="oldTel" placeholder="请输入您的手机号"/>
						</p>
						<p>
							<span>确认手机号</span>
							<input type="" name="" id="" v-model="newTel" placeholder="请输入您的手机号"/>
						</p>
					</div>
					<p class="errorBox">{{errorMsg}}</p>
					<button @click="goto(9)" class="editBtn">确认更换手机号</button>
					<span class="tipSpan">一个手机号只能作为一个账号的登录名</span>
				</div>
				<!-- 修改密码 -->
				<div class="pwdEdit" v-show="isShow3">
					<div class="headerBox" style="border-bottom: 1px solid #dcdcdc;">
						<img @click="goto(11)" src="../img/personal_center/returnBlackIcon.png" alt="">
						<span>修改密码</span>
						<span style="margin-left: 4.3rem;" @click="goto(12)">完成</span>
					</div>
					<p class="minTitle">登录请更改原始密码</p>
					<div class="inputBox">
						<p class="pwdItem">
							<span>原始密码</span>
							<input type="password" placeholder="填写原始密码">
						</p>
						<p class="pwdItem">
							<span>新密码</span>
							<input type="password" placeholder="填写新密码">
						</p>
						<p class="pwdItem">
							<span>确认密码</span>
							<input type="password" placeholder="再次填写确认">
						</p>
					</div>
					<p class="errorBox">{{errorMsg}}</p>
					<p class="msgText" style="margin-top: 0.4rem;">密码数必需是8-16位的数字、字符组合(不能是纯数字)</p>
					<p class="msgText" style="color: #66ccff;">忘记原密码</p>
				</div>
			</div>
		</div>

		<!-- Vue -->
		<script type="text/javascript">
			var personal_center = new Vue({
				el: '#personalCenter',
				data () {
					return {
						isShow: false,
						isShow1: false,
						isShow2: false,
						isShow3: false,
						editName: '金裕',
						userName: '金裕',
						errorMsg: '',
						oldTel: '',
						newTel: '',
						oldPwd:'',
						newPwd:'',
						surePwd:''
					}
				},
				methods:{
					// 跳转页面
					goto (value) {
						if (value == 1) {
							window.location.href = 'home.html'
						}else if (value == 2) {
							this.isShow = true
							this.isShow2 = false
						}else if (value == 3) {
							this.isShow = false
						}else if (value == 4) {
							this.isShow1 = true
						}else if (value == 5) {
							this.isShow1 = false
						}else if (value == 6) {
							this.userName = this.editName
							this.isShow1 = false
						}else if (value == 7) {
							this.isShow = true,
							this.isShow2 = true
						}else if (value == 8) {
							this.isShow = false
						}else if (value == 9) {
							if(this.oldTel === this.newTel){
								this.errorMsg = '';
								this.isShow = false
							}else {
								this.errorMsg = '注：号码输入不一致'
							}
						}else if (value == 10) {
							this.isShow = true;
							this.isShow1 = false;
							this.isShow2 = false;
							this.isShow3 = true
						}else if (value == 11) {
							this.isShow = false;
							this.isShow3 = false
						}
						else if (value == 12) {
							// 第一层 判断原始密码是否正确
							if(this.oldPwd = true){
								// 第二层 判断新旧密码是否相同
								if(this.newPwd === this.surePwd){
									this.isShow = false;
									this.isShow3 = false
								}else {
									this.errorMsg = '两次密码输入不一样'
								}
							}else {
								this.errorMsg = '原始密码不正确'
							}
						}
					},
					
				}
			});
		</script>
	</body>
</html>
