<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>访客邀请</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="stylesheet" type="text/css" href="../css/elementUI/index.css"/>
  <script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/elementUI.js" type="text/javascript" charset="utf-8"></script>
<!--  <script src="../js/require.js" type="text/javascript" charset="utf-8"></script>-->
  <script src="../js/setRem.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/qrcode.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/common/constant.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/common/utils.js" type="text/javascript" charset="utf-8"></script>
  <script src="../js/common/native_interface.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="../css/base.css"/>
  <link rel="stylesheet" type="text/css" href="../css/visitors_are_invited.css"/>
  <style>
    .loadingBox{
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999999;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.4rem;
      background: rgba(255,255,255,1);
    }
    .delDiv {
      width: 50px;
      height: 100%;
      background: red;
      color: white;
      line-height: 0.8rem;
      font-size: 0.24rem;
      text-align: center;
    }
    .shareMaxBox {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width:90%;
      /*height: 5rem;*/
      background: white;
      border-radius: 0.4rem;
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
    }
    .shareMaxBox h4 {
      width: 100%;
      height: 0.8rem;
      line-height: 0.8rem;
      text-align: center;
      font-size: 0.32rem;
      letter-spacing: 0.05rem;
      border-bottom: 1px solid rgba(0,0,0,0.3);
    }
    .shareMaxBox p {
      width: 100%;
      /*height: 0.6rem;*/
      /*line-height: 0.6rem;*/
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 0 0.4rem;
      box-sizing: border-box;
      margin: 0.1rem 0;
    }
    .shareMaxBox p span:nth-child(1){
      display: inline-block;
      width: 1.2rem;
      font-size: 0.24rem;
      line-height: 0.4rem;
    }
    .shareMaxBox p span:nth-child(2){
      font-size: 0.28rem;
      line-height: 0.4rem;
    }
    .shareMaxBox button{
      display: flex;
      justify-content: center;
      margin-left: 50%;
      padding: 0.1rem 0.25rem;
      font-size: 0.32rem;
      text-align: center;
      font-weight: bold;
      letter-spacing: 0.05rem;
      margin-top: 0.2rem;
      border: none;
      outline: none;
      border-radius: 0.1rem;
      background: #2e80ec;
      color: white;
      transform: translateX(-50%);
      margin-bottom: 0.2rem;
    }
    .shareMaxBox #faceImg {
      display: inline-block;
      width: 2.4rem;
      height: 2.4rem;
      /*border: 1px solid red;*/
    }
    .classBox {
      width: 100%;
      height: 3rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      /*border: 1px solid red;*/
    }
    .mmmm {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.4rem;
      background: rgba(255,255,255,0.5);
    }
  </style>
</head>
<body>
<div class="vaiBox" id="vaiBox">
  <!-- 头部盒子 -->
  <div class="headerBox">
    <img @click="goTo" src="../img/personal_center/returnBlackIcon.png" alt="">
    <p>访客邀请</p>
  </div>
  <div class="maxBox" scroll="no">
    <!-- 访客邀请列表 -->
    <div class="vaiList">
      <div class="vaiListHeader" @click="isListShow">
        <span>访客邀请</span>
        <img src="../img/personal_center/nextIcon.png"  alt="">
      </div>
      <div v-show="isListShow1" class="listItem">
        <p class="address">{{acsUserAddr}} </p>
        <div class="listInfo" v-for="(rec, index) in listData" :key="index" @click="shareItem(rec)">
          <div class="infoBox">
            <p class="userName">{{rec.visitorName}}</p>
            <span>有效期：{{rec.listenedTime}}</span>
          </div>
          <span v-show="noGo == '未到访'" class="status">{{noGo}}</span>
          <span v-show="noGo == '已到期'" class="status">{{noGo}}</span>
<!--          <span v-show="isDQ" class="status">已过期</span>-->
<!--          <div class="delDiv" v-show="isDel" @click="delItem(rec,index)">删除</div>-->
        </div>

      </div>
    </div>
    <!-- 访客记录 -->
    <div class="vaiList">
    <div class="vaiListHeader" @click="isListShow">
      <span>来访记录</span>
      <img src="../img/personal_center/nextIcon.png" alt="">
    </div>
    <div class="listItem"v-show="!isListShow1">
      <!-- <p class="address">{{acsUserAddr}} </p> -->
      <div class="listInfo" v-for="(rec, index) in listDataUsed" :key="index" @click="shareItem(rec)">
        <div class="infoBox">
          <p class="userName">{{rec.visitorName}}</p>
          <span>来访时间：{{rec.visiteTime}}</span>
        </div>
        <span class="status">已到访</span>
      </div>
    </div>
  </div>
  </div>
  <!-- 新增邀请按钮 -->
  <div class="addVai" @click="addVai">
    <img src="../img/visitors_are_invited/addIcon.png" alt="">
    <span>新增邀请</span>
  </div>
  <!-- 新增邀请大盒子 -->
  <div class="addvaiBox" v-show="isShow">
    <!-- 头部盒子 -->
    <div class="headerBox" @click="nnnnShow">
      <img src="../img/personal_center/returnBlackIcon.png" alt="">
      <p>新增邀请</p>
    </div>
    <!-- 中间盒子 -->
    <div class="addItemBox">
      <div class="addItemDiv">
        <p class="addressName">{{acsUserAddr}} </p>
      </div>
      <div class="addItemDiv">
        <span class="tagName">访客姓名</span>
        <input class="visitor_name" v-model="visitorName" type="text" placeholder="请输入">
        <span id="checkSex">
							<span :class="{active : ind == index}"
                    @click="categoryStyle(index)"
                    v-for="(item, index) in checkSex" :key="index">{{item.name}}</span>
						</span>
      </div>
      <div class="addItemDiv">
        <span class="tagName">来访人数</span>
        <input class="visitor_name" type="number" placeholder="请输入来访人数(1-5人)">
      </div>
      <div class="addItemDiv">
        <span class="tagName">来访事由</span>
        <input class="visitor_name" type="text" placeholder="请输入来访事由(简短明了)">
      </div>
      <div class="addItemDiv">
        <span class="tagName">联系方式</span>
        <input class="visitor_name" type="text" placeholder="请输入电话号码">
      </div>
      <div class="addItemDiv">
        <span class="tagName">有效期至</span>
        <el-date-picker
          style="margin-left: 0.2rem;"
          v-model="yxqTime"
          type="datetime"
          placeholder="选择日期时间"
          value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss">
        </el-date-picker>
      </div>
    </div>
    <!-- 底部盒子 -->
    <div class="footerBox">
      <!-- 选择类型 -->
      <div class="checkType">
        <span>临时密码</span>
        <select name="" id="checkType" @change="changeProduct($event)">
          <option v-for="(ct,index) in checkedType" :key="index" :value='ct.checkName'>{{ct.checkName}}</option>
        </select>
      </div>
      <div class="typeBox">
        <!-- 二维码 -->
        <div v-show="this.ProductActive == '临时二维码'" id="qrcode_id"></div>
        <!-- <img v-show="this.ProductActive == '临时二维码'" :src="v_qrcode" id="qrcode_id" alt=""> -->
        <!-- 随机数字 -->
        <p v-show="this.ProductActive == '临时数字密码'">{{v_code}}</p>
        <!-- 上传人脸 -->
        <div class="faceUpload" v-show="this.ProductActive == '临时人脸识别'">
          <div class="uploadInputBox">
            <img class="camera" src="../img/face_verification/uploadIcon.png" alt="" id="img_show1" style="display: none">
            <input type="file" @change="img_upload1" ref="input_btn1" accept="image/png,image/gif,image/jpeg,image/jpg" capture="camera" multiple>
            <input type="file" @change="add_mall_img" ref="input_btn2">
          </div>
          <img src="../img/face_verification/uploadIcon.png" alt="" id="showIMG">
        </div>
      </div>
<!--      <div class="shareBox">-->
<!--        <span>将该页面分享至:</span>-->
<!--        <img src="../img/visitors_are_invited/QQIocn.png"/>-->
<!--        <img src="../img/visitors_are_invited/weChatIcon.png" alt="">-->
<!--      </div>-->
      <button @click="aviInfoIsShow" style="margin-top: 0.4rem">完成</button>
    </div>

  </div>
  <!-- 分享大盒子 -->
  <div class="shareMaxBox" v-show="isShare">
    <h4>分享页面</h4>
    <div>
      <p>
        <span>邀请访客:</span>
        <span>{{shareData.name}}</span>
      </p>
      <p>
        <span>邀请时间:</span>
        <span>{{shareData.time}}</span>
      </p>
      <p>
        <span>邀请方式:</span>
        <div class="classBox">
          <!-- 随机数 -->
          <span v-show="shareData.type == 4" style="display:inline-block;width: 100%;text-align: center;color: #00FFFF;">{{shareData.randomNumber}}</span>
          <!-- 随机二维码 -->
          <div v-show="shareData.type == 3" id="qrcodeBox"></div>
          <!-- 人脸识别 -->
          <div v-show="shareData.type == 5">
            <img id="faceImg" src="" alt="">
          </div>

        </div>
      </p>
      <button @click="noShare">确定</button>
    </div>
  </div>
  <!-- 加载动画 -->
  <div class="loadingBox" v-show="isLoading">
    <span>页面加载中...</span>
  </div>
  <!-- 加载动画 -->
  <div class="loadingBox mmmm" v-show="isOK">
    <div style="text-align: center;padding: 0.5rem 0.8rem;background: white;box-shadow: 0 0 2px 2px rgba(0,0,0,0.1)">
      <p>添加成功</p>
      <button @click="noOK" style="margin-top: 0.2rem;width: 1.2rem;height: 0.6rem;background: #51c6ff;color: white;border: none;font-size: 0.26rem;letter-spacing: 0.1rem;border-radius: 0.1rem">确定</button>
    </div>
  </div>
</div>
<script src="../js/jquery-1.8.3.min.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../js/common/touchwipe.js"></script>
<script type="text/javascript">
  var vai = new Vue({
    el: "#vaiBox",
    data: {
      ind: 0,
      idx:-1,
      noGo:'未到访',
      isDQ:false,
      isOK:false,
      isShare:false,
      visitorName: '',
      yxqTime: '',
      faceImg: '',
      isDel: false,
      userImgIcon:'',
      isShow: false,
      isLoading:true,
      isListShow1:true,
      selectVal: '',
      ProductActive: '临时二维码',
      v_code: '',
      acsUserAddr: '',
      v_qrcode: '',
      checkSex: [
        {
          name: '女士'
        },
        {
          name: '男士'
        }
      ],
      checkedType: [
        {
          checkName: '临时二维码'
        },
        {
          checkName: '临时数字密码'
        },
        {
          checkName: '临时人脸识别'
        }
      ],
      listData: [
        // {
        // 	visitorName: '访客姓名',
        // 	listenedTime: '2019/05/29  16:34',
        // },
      ],
      listDataUsed: [
        // {
        // 	// visitorName: 'joker',
        // 	// listenedTime: '2019/05/20  16:34',
        // },
      ],
      shareData:{
        name:'123',
        time:'123',
        randomNumber:'',
        random2Qrcode:'',
        faceImg:'',
        type:''
      }
    },
    methods: {
      // 关闭
      noOK(){
        this.isOK = false;
      },
      // 分享页面
      shareItem(rec){
        this.isShare = true;
        console.log(rec);
        let type = rec.recordType;
        this.shareData.name = rec.visitorName;
        this.shareData.time = rec.listenedTime;
        this.shareData.type = type;
        let htoken = getStorage("token");
        if(type == 5){
          console.log(type);
          let imgBase64 = "";
          $.ajax({
            url:getServerUrl() + '/acsControlImageInfo/selectOne',
            type: 'get',
            data: {id: rec.recordInfo },
            headers: {
              token: htoken
            },
            async: false,
            success:function(res){
              if(res){
                imgBase64 = res.imageInfo;
                $("#faceImg").attr('src', "data:image/jpeg;base64," + imgBase64);
              }else {
                console.log(123);
              }
            }
          });
        }else if(type == 4){
          this.shareData.randomNumber = rec.recordInfo;
        }else if(type == 3){
          // 生成二维码
          let qrcode = new QRCode(document.getElementById("qrcodeBox"), {
            width: 120,//设置宽高
            height: 120
          });
          qrcode.makeCode(rec.recordInfo);
        }
      },
      // 关闭分享
      noShare() {
        $('#qrcodeBox').empty();
        this.isShare = false;
      },
      isListShow(){
        this.isListShow1 = !this.isListShow1;
      },
      nnnnShow(){
        this.isShow = false;
        console.log("1231313")
      },
      // 切换样式
      categoryStyle(index) {
        this.ind = index;
      },
      // 显示访客邀请信息页面
      aviInfoIsShow() {
        let that = this;
        //判断信息填写是否完整
        if (isEmpty(that.visitorName)) {
          alert("请填写访客姓名");
          return;
        }
        if (isEmpty(that.yxqTime)) {
          alert("请填写有效时间");
          return;
        }
        //提交后台邀请记录
        let acsUserInfo = JSON.parse(sessionStorage.getItem('acsUserInfo'));
        var formData = new FormData();
        formData.append('file',vai.userImgIcon);
        formData.append('operatorId', acsUserInfo.userId);
        formData.append('operatorName', acsUserInfo.userName);
        formData.append('visitorName', that.visitorName);
        formData.append('recordInfo', that.v_code);
        formData.append('listenedTime', that.yxqTime);
        formData.append('type', that.inviteType2Num(that.ProductActive));
        console.log(formData);
        let htoken = getStorage("token");
        $.ajax({
          url: getServerUrl() + '/app/userinfo/addAcsCodeLog',
          type: 'POST',
          data: formData,
          headers: {
            token: htoken
          },
          contentType: false,
          processData: false,
          success: function (res) {
            if (res.resultCode === '1') {
              // console.log(res);
              that.isOK = true;
              that.selInviteLog(1, 10, 1, acsUserInfo.userId);
              that.listData = res.resultContent.data;

            } else {
              alert(res.resultContent);
            }
          },
        });
        that.isShow = false;
      },
      //切换邀请方式
      changeProduct(event) {
        $("#showIMG").attr("src", '');
        $(".uploadIcon").attr('src', '../img/face_verification/uploadIcon.png')
        this.ProductActive = event.target.value;
        console.log("你选中了", this.ProductActive);
        if (this.ProductActive == '临时数字密码') {
          this.v_code = this.randomPassword(6, 'num');
        } else if (this.ProductActive == '临时二维码') {
          this.num2Qrcode()
        }
      },
      //邀请方式文字转换为数字
      inviteType2Num(type) {
        switch (type) {
          case '临时二维码':
            return '3';
          case '临时数字密码':
            return '4';
          case '临时人脸识别':
            return '5';
        }
      },

      btnUploadFile(e, type) {
        //获取图片
        var files = e.target.files;
        var file = files[0];
        // 接受 jpeg, jpg, png 类型的图片
        if (!/\/(?:jpeg|jpg|png)/i.test(file.type)) {
          return;
        }
        var reader = new FileReader();
        reader.onload = function () {
          var result = this.result;  //图片base64字符串
          console.log(result);
          $("#showIMG").attr("src", result);  //展示图片
          // this.faceImg = result;
          $(".uploadIcon").attr('src', '')
        };
        reader.readAsDataURL(file);    //Base64
      },
      // 返回home页面
      goTo() {
        window.location.href = 'home.html'
        console.log("987654")
      },
      addVai() {
        $("#checkType").find("option[value='临时二维码']").attr("selected", true);
        this.ProductActive = '临时二维码';
        this.num2Qrcode();
        this.isShow = true;
      },
      num2Qrcode() {
        $('#qrcode_id').html("");
        // 生成二维码
        var qrcode = new QRCode(document.getElementById("qrcode_id"), {
          width: 210,//设置宽高
          height: 210
        });
        this.v_code = this.randomPassword(12, 'all');
        console.log('v_code:' + this.v_code);
        qrcode.makeCode(this.v_code);
      },
      randomPassword(size, type) {
        var seed;
        if (type == 'num') {
          seed = new Array('0', '1', '2', '3', '4', '5', '6', '7', '8', '9');//数组
        } else {
          seed = new Array('A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z',
            'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'm', 'n', 'p', 'Q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', '0', '1',
            '2', '3', '4', '5', '6', '7', '8', '9'
          );//数组
        }
        seedlength = seed.length;//数组长度
        var createPassword = '';
        for (i = 0; i < size; i++) {
          j = Math.floor(Math.random() * seedlength);
          createPassword += seed[j];
        }
        return createPassword;
      },

      //查询邀请记录
      selInviteLog(page, limit, state, uid) {
        let that = this;
        let htoken = getStorage("token");
        $.ajax({
          url: getServerUrl() + '/app/userinfo/getTable',
          type: 'POST',
          headers: {
            token: htoken
          },
          data: {
            page: page,
            limit: limit,
            recordType: '6',
            state: state,
            deviceId: uid
          },
          dataType: 'json',
          success: function (res) {
            if (res.resultCode === '1') {
              if (state === 1) {
                console.log(res);
                that.listData = res.resultContent.data;
                // console.log(that.listData);
                let now = new Date();
                for(let i = 0; i < that.listData.length; i++){
                  if(now > new Date(that.listData[i].listenedTime)){
                    // that.listData.splice(i,1);
                    // i -= 1;
                    // that.isDQ = true;
                  }


                }
              } else if(state === 2){
                console.log(res);
                // that.listDataUsed = res.resultContent.data;
                that.listDataUsed =res.resultContent.data;
              }
            } else {
              alert(res.resultDesc+"0000");
            }
          },
        });

      },

      // 删除
      delItem(rec, index) {
        console.log(rec,index)
        this.idx = index;
      },
      isNoIos(){
        //获取浏览器的userAgent,并转化为小写
        var ua = navigator.userAgent.toLowerCase();
        //判断是否是苹果手机，是则是true
        var isIos = (ua.indexOf('iphone') != -1) || (ua.indexOf('ipad') != -1);
        if (isIos) {
          this.$delete(this.$refs.input_btn1,'capture');
        }
      },
      img_upload1(){
        // this.clickPicture = false;
        // this.trueUpload = true;
        let img1 = this.$refs.input_btn1.files[0];
        vai.userImgIcon = this.$refs.input_btn1.files[0];
        // this.doChangeImg(img1);
        // this.img1 = img1;
        let reader = new FileReader();
        reader.readAsDataURL(img1);
        // console.log(img1);
        // if(this.img1){
        //   let fd = new FormData();
        //   fd.append('file',this.img1);
        //   this.doChangeImg(fd);
        // }
        reader.onloadend = function(e){
          let img = document.getElementById("showIMG");
          img.src = e.target.result;
          // console.log(e.target.result);
        }

      },
      add_mall_img(){
        // this.clickPicture = false;
        // this.trueUpload = true;
        let img1 = this.$refs.input_btn2.files[0];
        console.log(img1);
        vai.userImgIcon = this.$refs.input_btn2.files[0];
        console.log(vai.userImgIcon);
        // this.doChangeImg(img1);
        // this.img1 = img1;
        let reader = new FileReader();
        reader.readAsDataURL(img1);
        // console.log(img1);
        // if(this.img1){
        //   let fd = new FormData();
        //   fd.append('file',this.img1);
        //   this.doChangeImg(fd);
        // }
        reader.onloadend = function(e){
          let img = document.getElementById("showIMG");
          img.src = e.target.result;
          // console.log(e.target.result);
        }

      }

    },
    created() {
      let acsUserInfo = JSON.parse(sessionStorage.getItem('acsUserInfo'));
      this.acsUserAddr = acsUserInfo.userBlockName + '-' + acsUserInfo.userRoomName;
      // 初始化随机二维码
      this.num2Qrcode();
      this.selInviteLog(1, 10, 1, acsUserInfo.userId);
      this.selInviteLog(1, 10, 2, acsUserInfo.userId);
      // this.listDataUsed = this.selInviteLog(1, 10, 2, acsUserInfo.userId);
      // console.log(this.listDataUsed);
    },
    mounted(){
      this.isLoading = false;
      this.isNoIos();
    }
  });
</script>
</body>
</html>
